@using AppDomainCore.Users.DTO
@using AppDomainCore.Users.Enum
@model LoginDto;

<div class="col-md-6">
    <div class="card">
        <div class="card-header bg-primary text-white">فرم ورود </div>
        <div class="card-body">
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">ایمیل</label>
                    <input asp-for="Email" type="email" class="form-control" id="signupEmail" placeholder="ایمیل خود را وارد کنید" required>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">رمز عبور</label>
                    <input asp-for="Password" type="password" class="form-control" id="signupPassword" placeholder="رمز عبور خود را وارد کنید" required>
                </div>

                <button type="submit" class="btn btn-success w-100">ورود</button>
                <a asp-controller="Account" asp-action="Register">ثبت نام</a>
            </form>
        </div>
    </div>
</div>