@using AppDomainCore.CustomersRequests.Entity
@model CustomersRequest
@{
    ViewData["Title"] = "پیازچه > مدیریت درخواست > ویرایش درخواست";

}


<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    درخواست
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <div class="top-buttons-box mb-2">
            </div>
            <div class="row">
                <form asp-area="Admin" asp-controller="CustomersRequest" asp-action="Update" enctype="multipart/form-data" id="simple-form" role="form" method="post">
                    @* <img style="border-radius : 50%" src="@Model.User.ImagePath" width="80" height="80" /> *@
                    <hr />
                    <input type="hidden" asp-for="Id" />

                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <label asp-for="Status">
                                وضعیت سفارش:
                                </label><br />
                                @Html.DropDownListFor(model => model.Status, (IEnumerable<SelectListItem>)ViewBag.StatusList, new { @class = "form-control" })

                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-check"></i>
                            ذخیره
                        </button>
                        <a asp-area="Admin" asp-controller="CustomersRequest" asp-action="Index" class="btn btn-warning">
                            بازگشت
                        </a>
                    </div>
                </form>
            </div>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->